/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 11, 2024, 5:08:15 p.m.
    Author     : alexp
*/
body {
    background-color: #fff;
    color: #000;
    font-family: Arial, sans-serif;
}

h1 {
    color: #222;
}

table{
    background-color: #eee;
    border-collapse: separate;
    border-color: #eee;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
}

td, th{
    border-bottom: 3px solid #757575;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #0066ff;
    color: #fff;
    cursor: pointer;
}