<?xml version="1.0" encoding="UTF-8"?>
<web-app version="8.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>NewClass</servlet-name>
        <servlet-class>alexshruthika.webapp.servlets.NewClass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>alexshruthika.webapp.servlets.SignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>YourClasses</servlet-name>
        <servlet-class>alexshruthika.webapp.servlets.YourClasses</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStudents</servlet-name>
        <servlet-class>alexshruthika.webapp.servlets.AddStudents</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>alexshruthika.webapp.servlets.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewClass</servlet-name>
        <url-pattern>/new-class</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/sign-up</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>YourClasses</servlet-name>
        <url-pattern>/YourClasses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStudents</servlet-name>
        <url-pattern>/add-students</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
